

.topo{
    padding: 20px 0;
    position: relative;
    
}

.banner-topo{
    background: #f2e0f7;
}

.banner-topo .img-destaque{
    max-width: 300px;
}

.banner-topo h1{
    color: purple;
}

.cor-tema{
    color: purple;
}

#hamburguer{
    background-color: white;
    color: black;
    display: block;
    text-align: center;
    padding: 3px;
    cursor: pointer;
    font-size: 30px;
}

.rodape{
    color: purple;
    background: #f2e0f7;
    
}


@media screen and (min-width: 768px) {

}
